
:root{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    background-color: #fee2f8;
    background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
    

}


body::-webkit-scrollbar {
    width: 20px;
   
    
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(60deg, #fdc830, #f37335,#fdc830);
    border-radius: 4px;
    outline: none;
    border: none;
    
    
}
   
  body::-webkit-scrollbar-thumb {
    background-color: white;
    outline: none;
    border-radius: 30px;
   
    box-shadow:  0 0 5px 5px rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    width: 5px;
  }

 


header{
    display: block;
    min-width: 100%;
    height: 100%;
   
 z-index: 2;

}

#Video{
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    border-bottom-left-radius: 100% 130px;
    border-bottom-right-radius: 100% 130px;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    max-width: 100%; 
    min-height: 100%;

    box-shadow: 0px 12px 17px 3px #5f5f5f

}

.logo{

        padding-top: 100px;
        padding-left: 100px;
        padding-bottom: 30px;
        
}

.logo-name{
    color: black;
    font-family: 'Pacifico', cursive;
    font-size: 42px;
    font-weight: bold;
    text-align: start;
    text-shadow: 6px 6px 0px #6f0000;
    color: white;
    letter-spacing: 7px;
    
    
}


.sub-logo-first{
    display: block;
    margin: auto;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: bold;
    text-shadow: 3px 3px 0px#6f0000;
    color: white;

}

.sub-logo-second{
    display: block;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 32px;
    font-weight: 300;
    text-shadow: 3px 3px 0px #6f0000;


}


.controll-rounds-number{

    display: block;
    margin: 25px auto;
    width: 500px;
    height: 230px;
    background-color: #f6f4f3;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.2);
    border-left: solid 7px #E8A87C;
    border-right: solid 7px #E8A87C;
}

.controll-rounds-number>form{
    padding:25px ;
}

.round-number-label{
    color: #6d6d6d;
    display: block;
    padding: 17px;
    letter-spacing: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    

    
}

#roundNumber{
    width: 77%;
    height: 27px;
    display: block;
    margin: auto;
    border-color: #e6e6e6;
    border-radius: 5px;
    transition: 1s;
    outline-color:#E8A87C;
    
    
}

#round-number:focus{
    border-color: #E8A87C;
    outline-color: #E8A87C;
    
}


.button-wrapper{
    display: inline-block;
}

 .submit-button{
    display: inline-block;

    margin-top: 15px;
    padding: 10px 10px;
    border: none;
    color: white;
    border-radius: 2px;
    background-image: linear-gradient(50deg, #E8A87C, #e98d50);
    padding: 10px 10px;
    width: 165px;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 1s;
}

.show-results{

    display:block;
    margin: auto;
    margin-top: 15px;
    padding: 10px 0px;
    border: none;
    color: white;
    border-radius: 2px;
    background-image: linear-gradient(50deg, #7eb2ff, #0b75ff);
    width: 165px;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 1s;

    text-decoration: none;

}

#redo{
   
    
    font-size: 30px;
    margin-left: 10px;
    vertical-align: middle;
    color: #00b7ff ;
}

#redo:hover{
   cursor: pointer;
   animation: rotating 1s linear infinite ;
    
}



 


.controll-rounds-number > form> .submit-button:hover{

    background-image: linear-gradient(250deg,#e98d50, #E8A87C); 
}

.controll-rounds-number > form> .submit-button:active{

 
   
    background-image: linear-gradient(250deg,#e98d50, #E8A87C); 
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
  
}

main{   

    display: block;
    z-index: 2;
    margin: auto;
    
    
}

.container{
    display: block;
    
    
    
    width: 100%;
    
    
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.column{
    width: 350px;
    height: 460px;
    background-color: #F6F4F3;
    border-radius: 5px;
    /* background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%); */
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
    border-left: solid 7px #E8A87C;
    border-right: solid 7px #E8A87C;
}



/* @keyframes upAndDown {
    0%   {margin-top: -10px;}
    50%  {margin-top: 25px;}
    100%  {margin-top: -10px;}
   
  
} */


.item-name{
    color: #E8A87C;
    text-align: center;
    font-size: 32px;
    text-transform:capitalize ;
    text-shadow: 2px 2px 3px gray;
    margin-top: 9px;
    
}
.column > img{
    display: block;
    margin: 15px auto;
    width: 320px;
    height: 320px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
    border-top: solid 2px #E8A87C;
    border-bottom: solid 2px #E8A87C;
}

.vote{
 
    display: block;
    margin: 0 auto;

    text-align: center;
    padding: 20px  0;
    text-decoration: none;
     color: #E8A87C;
    font-weight: bolder;
    cursor: pointer;
    width: 90%;

}
.vote:hover{
   
  
    
    text-decoration: none;
    animation: changingBackGroundColor cubic-bezier(.17,.67,.91,.39) 5s   ;
    background-color: #0083b0;
  
   
}

 


.vote > i {
    color: rgb(255, 209, 124);
    animation: rotating 2s linear infinite;
   z-index: 3;
    
}

.vote > i:hover {
    color: lightblue;

       
}

@keyframes rotating {
    from {
       
        transform: rotate(0deg);
      }
      to {
        
        transform: rotate(360deg);
      }
    }

@keyframes changingBackGroundColor {
        0%   {background-color: #00b7ff;}
        25%  {background-color: #065081;}
        50%  {background-color: #56a7f3;}
        75%  {background-color: rgb(0, 100, 139);}
        100% {background-color: #0083b0;}
        
}




.statistics{
    display: block;
    padding: 25px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: bold;
    text-shadow: 3px 3px 0px#a3a3a39c;
    color: #E8A87C;
    margin-top: 120px;
  


}
.statistics-box{
    display: block;
    margin: 0 auto;

    
    
}


.line{
    background-color:#E8A87C;
    width: 300px;
    height: 3px;
    display: block;
    margin: 0 auto;
    opacity: 0.7;   
}


.social-media-container{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;

    background-color: #444444;

    margin-top: 200px;
}

.social-media-container > i {

    padding: 25px;
    font-size: 60px;

    transition: 0.5;
    
}
.social-media-container > i:hover {

    color:#E8A87C;
    
}

.social-media-container > hr {

    width: 40%;
    margin: 0;
    background-color:#E8A87C;
    height: 1px;
    border: none;
}

.copy-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    color: white;
    background-color:   #E8A87C;
    font-size: 15px;
}